*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}
body{
    height: 100;
    width: 100vh;
}
.card{
    width: 300px;
    height: 200px;


}
.preantdiv {
   background-color: gray;
    box-shadow: 2px 4px 8px  , rgba(0, 0, 0, 0.1) ;
    padding: 15px;
     /* display: flex;
     align-items: center;
     justify-content: center; */
     

     margin: 0;
     height: 100vh;
    
}
img{
    width: 100%;
    height: 100px;
    border-radius: 50%;
       border: 2px solid blue;
       padding: 3px;
       
}
span{
    color: white;
    display: block;

}